@{
    ViewData["Title"] = ViewBag.Project.Title;
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-4">Project: @ViewBag.Project.Title</h1>
        </div>
        <div class="col m-auto">
            @if (ViewBag.Project.Manager.Equals(User.Identity.Name) || User.IsInRole("Admin"))
            {
                <a class="btn btn-danger" asp-controller="Projects" asp-action="Delete" asp-route-id="@ViewBag.Project.Id">Delete project</a>
            }
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            <h3>Members:</h3>
        </div>
        <div class="col">
            <ul class="list-group">
                @foreach (var member in ViewBag.Members)
                {
                    <li class="list-group-item container">
                        <p>@member.Mail</p>
                        @if (ViewBag.Project.Manager.Equals(User.Identity.Name) || User.IsInRole("Admin"))
                        {
                            <a class="btn btn-outline-danger" asp-controller="Projects" asp-action="RemoveMember" asp-route-id="@ViewBag.Project.Id" asp-route-mail="@member.Mail">
                                Remove member
                            </a>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <a class="btn btn-primary" asp-controller="Projects" asp-action="AddMember" asp-route-id="@ViewBag.Project.Id">Add member</a>
        </div>
    </div>
    <br/>
    <br/>
    <h3>Tasks:</h3>
    <ul class="list-group">
        @foreach (var task in ViewBag.Tasks)
        {
            <li class="list-group-item container">
                <p>Owner: @task.MemberName</p>
                <p>Title: @task.Title</p>
                <p>Content: @task.Content</p>
                <p>Status: @task.Status</p>
                <a class="btn btn-outline-danger" asp-controller="Task" asp-action="Delete" asp-route-projectId="@ViewBag.Project.Id" asp-route-taskId="@task.TaskId">
                    Remove task
                </a>
                <a class="btn btn-outline-danger" asp-controller="Task" asp-action="Edit" asp-route-projectId="@ViewBag.Project.Id" asp-route-taskId="@task.TaskId">
                   Edit task
                </a>
            </li>
        }
    </ul>
    <br/>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <a class="btn btn-primary" asp-controller="Task" asp-action="New" asp-route-id="@ViewBag.Project.Id">Add task</a>
        </div>
    </div>
</div>